@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL */

html, body {
  text-align: center;
  background:rgb(42, 127, 148);
  /* background: linear-gradient(rgb(42, 127, 148),rgba(60, 99, 241, 0.567)); */
  font-family: "roboto", sans-serif;
  color:rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* H1, H2, H3, H4, H5 */

h1 {
  
}
h2 {
  
}
h3 {
 
}

label {

}


p {

}

.App {
  padding: 20px;;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

/* NAV BAR */

nav.navbar { 
  display: flex;
  padding: 0px 15px;
  background: #ffffff;
  background: linear-gradient(#ffffff00, #0067bb93);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

#home-btn {
  color: white;
  text-decoration: none;
}

input {
  width: 300px;
}

textarea {
  width: 500;
}

/* LOGIN */

/* TITLE "Welcome to dataBASE" */
.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcomeTo-title {
  font-family: Roboto;
  font-weight: normal;
  font-size: 31px;
  line-height: 11px;
  text-align: left;
  color: #fff;
}

.database-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 38px;
  line-height: 13px;
  text-align: left;
  color: #fff;
}

/* EXIT DETAIL */

.exitDetailButton {
  width: 150px;
  height: 50px;
  background: none;
  position: relative;
  border-radius: 21em;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  color:rgb(255, 255, 255);
  box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
}

.exitDetailButton:hover{
 box-shadow: 0px 15px 20px rgba(0,0,0,.4);
 background:linear-gradient(65deg, rgb(117, 202, 224),rgb(47, 136, 158));
 color: #fff;
 transform: translateY(-5px);
 transition: 0.4s;
}

/* INPUTS BUTTONS AND LABELS */

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  /* font-size: 1.3rem; */
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
} */
/* reset input */
.form__field {
  &:required,&:invalid { box-shadow:none; }
}

/* .inputAuthForms {
  display: block;
  font-size: 18px;
  font-family: "montserrat",sans-serif;
  font-weight: 300;
  color: rgb(255, 255, 255);
  width: 50vw;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid 666666;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 2em;
  background-color: #fff;
  border: none;
  padding: 21px;
  padding-left: 32px;
  text-align: center;
} */

.inputButton {
   width: 300px;
   height: 50px;
   background: transparent;
   position: relative;
   border-radius: 21em;
   border-width: 3px;
   border-color: rgb(255, 255, 255);
   text-transform: uppercase;
   font-weight: bold;
   font-size: 16px;
   color:rgb(255, 255, 255);
   box-shadow: 0px 8px 15px rgba(255, 255, 255, 0.4);
}

.inputButton:hover{
	box-shadow: 0px 15px 20px rgba(0,0,0,.4);
	background:linear-gradient(65deg, rgb(117, 202, 224),rgb(47, 136, 158));
	color: #fff;
	transform: translateY(-5px);
	transition: 0.4s;
}

.gpsButton {
  border-radius: 100%;
  width: 50px;
}

.textForms {
  align-content: center;
  display: block;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 300;
  color: #333;
  width: 50vw;
  height: 50vw;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid 666666;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 2em;
  background-color: #fff;
  border: none;
  padding: 21px;
  padding-left: 32px;
}

.userNameNavBar {
  align-content: center;
    display: block;
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    color: #333;
    box-sizing: border-box;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: 2em;
    background-color: hsla(0,0%,100%,.342);
    border: none;
    padding: 0.25em 1em;
    line-height: 3.2em;
    margin: 0 1em;
}

.inputAuthForms:focus {
  outline: 0;
}
.loginDiv {
  display: flex;
  flex-direction: ;
  
  justify-content: center;
}

.loginDiv {
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

/* ADD EXIT */

.approach-exit-landing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .approach-exit-landing-container {
    flex-direction: column;
  }
}

.add-exit-head-container {
  display: flex;
  flex-direction: column;
}

.exit-name-form-div {
  margin: 0px 20px 0px;
  text-align: left;
  padding: 1em;
}

.altitude-form-container {
  margin: 0px 20px 0px;
  text-align: left;
  padding: 1em;
}

.add-exit-div {
  background-color: rgba(190, 188, 188, 0.4);
  border-radius: 20px;
  margin: 1em;
}

.exit-div {
  background-color: rgba(118, 250, 140, 0.4);
}

.landing-div {
  background-color: rgba(255, 106, 106, 0.4);
}

.latitude-longitud-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;
  align-items: center;
}

.longitud-container,
.latitude-container {
  margin: 5px;
  padding: 5px;
  text-align: left;
}

.description-container {
  margin: 0px 20px 0px;
  text-align: left;
}

.description-container label {
  text-align: left;
}

.create-button-container {
  margin: 30px;
  padding: 5px;
  align-items: center;
}

/* EXIT DETAIL */

.circular-landscape {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.allMapsContainer {
  background:         linear-gradient(#d21f527d, #0a2e90a4);
  border-radius: 2em;
}

.mapContainer {
  width: 650px;
  height: 450px;
}

.descriptionContainer {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}

.descriptionContainerDiv {
  flex-basis: 33%;
  align-content: space-around;
  margin: 10px 5px;
  border: 2px solid rgba(212, 208, 208, 0.348);
  border-radius: 0.5em;
  min-height: 400px;
}

.allMapsContainer {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap;
}

.allMapsContainer div {
flex-basis: 50%;
}

.aproachContainer {
  background: rgb(2,0,36);
  background: linear-gradient(56deg, rgba(2,0,36,0.5172443977591037) 0%, rgba(83,9,121,0.4640231092436975) 35%, rgba(0,67,255,0.5060399159663865) 100%);
}

.landingZoneContainer {
  background: rgb(30,24,135);
  background: linear-gradient(242deg, rgba(30,24,135,0.5172443977591037) 0%, rgba(131, 255, 148, 0.464) 35%, rgba(227, 5, 179, 0.478) 100%);
}

.exitContainer {
  background: rgb(131,58,180);
  background: linear-gradient(69deg, rgba(131,58,180,0.5452556022408963) 0%, rgba(253,29,29,0.5172443977591037) 50%, rgba(252,176,69,0.5648634453781513) 100%);
}

/* EDIT EXIT */
input[type="text"] {
  width: 80%;
  margin-left: 10%;
}
